/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
    font-family: Verdana;
    font-size: 12px;
    line-height: 18px;
    color: #3d3d3d;
    
}
.template{
    width: 1000px;
    margin: 0 auto;
}
.clear{
    overflow: hidden;
}




.headsection {
    background: #7E1B1C;
}

.headerleft {
  float: left;
  height: 120px;
  margin-left: 20px;
  margin-right: 95px;
  width: 310px;
}
.headerleft h2 {
  color: #fff;
  font-family: georgia;
  font-size: 32px;
  font-weight: normal;
  margin: 40px 0px 0px;
}
.headerleft p{
    color: #d2d2d2;
}

.mainmenu {
  float: right;
  margin-right: 15px;
  margin-top: 30px;
  width: 552px;
}
.mainmenu ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.mainmenu ul li{
    float: left;
    display: block;
}
.mainmenu ul li a {
  color: #d2d2d2;
    display: block;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
}
.mainmenu ul li a:hover, #active{
    color: #3e0d09;
     border-top: 2px solid #3e0d09;
}
.mainmenu ul li a span {
  color: #999;
  display: block;
  font-family: Arial;
  font-size: 12px;
  text-transform: lowercase;
}

.bannersection {
    background: #3C0B0A;
    height: 300px;
    position: relative;
}
.bannerleft {
    float: left;
    width: 500px;
    margin-left: 20px;
}
.bannerleft h1 {
  color: #fff;
  font-family: georgia;
  font-size: 46px;
  font-weight: normal;
  line-height: 48px;
}
.bannerleft P{
    font-size: 14px;
    color: #fff;
    line-height: 22px;
}

.bannerright {
  float: right;
  margin-right: 20px;
  margin-top: 30px;
  width: 413px;
}
.bannerright img {
  float: left;
  margin-bottom: 8px;
  margin-left: 8px;
}

.contentsection {
    background: #E4DFCB;
    height: 340px;
    
}

.maincontent {
  background: #fff none repeat scroll 0 0;
  height: 355px;
  margin: -40px auto 0 40px;
  position: absolute;
  width: 918px;
}

.samearticle {
    width: 266px;
    float: left;
    padding: 20px;
}
.samearticle img{}
.samearticle h2 {
  border-bottom: 1px solid #b2b2b2;
  color: #660000;
  font-family: georgia;
  font-size: 18px;
  font-weight: normal;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.samearticle ul {
  margin: 0;
  padding-left: 20px;
}
.samearticle ul li {
  padding-bottom: 5px;
    color: #666;
}
.samearticle p{
    margin: 0;
    color: #666;
}
.samearticle h4{
    color: #666;
}

.footertop {
    background: #CDC5A3;
}

.contactsection {
    float: left;
    width: 360px;
    margin: 0 20px;
    margin-bottom: 30px;
}
.contactsection h2 {
  border-bottom: 1px solid #807c6a;
  font-family: Georgia;
  font-size: 22px;
  margin-bottom: 6px;
  padding-bottom: 5px;
    color: #333;
}
.contactsection p{
    margin-top: 10px 0 0;
}
.textinput {
  float: left;
  margin-right: 8px;
}
.contactsection input[type="text"] {
    border: 1px solid #fff;
    padding: 4px;
    width: 162px;
    color: #666666;
}
.contactsection input[type="email"]{
    border: 1px solid #fff;
  padding: 4px;
    width: 162px;
    color: #666666;
}
.contactsection textarea{
    width: 350px;
    height: 88px;
    border: 1px solid #fff;
    color: #666666;
}
.contactsection input[type="submit"]{
    background: #F7F7F7;
    border: none;
    padding: 8px 15px;
    font-size: 14px;
    margin-right: 10px;
}
.contactsection input[type="reset"]{
     background: #F7F7F7;
    border: none;
    padding: 8px 15px;
    font-size: 14px;
}

.postsection {
    float: right;
    width: 580px;
    margin-right: 20px;
    
}

.allpost{
    
}
.samepost {
  float: left;
  margin-left: 13px;
  width: 180px;
}
.samepost h2{
    border-bottom: 1px solid #807c6a;
  font-family: Georgia;
  font-size: 22px;
  margin-bottom: 6px;
  padding-bottom: 5px;
  color: #333333;
    font-weight: 500;
}
.subscribe p {
  background: #e4dfcb none repeat scroll 0 0;
  float: left;
  margin-left: 15px;
  padding: 5px 10px;
  width: 254px;
}

.lastinput{
    float: left;
    width: 290px;
}

.subscribe {
    
}
.subscribe input[type="text"] {
  border: 1px solid #fff;
  margin-left: 10px;
  margin-top: 12px;
  padding: 5px;
  width: 233px;
}
.subscribe input[type="submit"] {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #fff;
  padding: 5px;
}

.footsection {
    background: #240605;
    height: 60px;
}

.footerleft {
    float: left;
    width: 600px;
    margin-left: 20px;
}
.footerleft p{
    padding: 8px 0px;
    color: #fff;
}

.footerright {
    float: right;
    width: 300px;
    margin-right: 20px;
}
.footerright p{
    padding: 8px 0px;
    float: right;
    color: #fff;
}














/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

