/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body{
    font-family:Arial;
    font-size: 14px;
    line-height: 18px;
    background: #ECE7D7;
}
.template{
    width: 960px;
    margin: 0 auto;
    
}
.clear{
    overflow: hidden;
}

.headersection {
    height: 100px;
    background-color: #434243;
}

.title {
  float: left;
  width: 560px;
}
.title h2 {
  color: #a46448;
  font-size: 40px;
  margin-left: 50px;
  margin-top: 33px;
}
.extra{
    color: #fff;
}

.mainmenu {
  float: right;
  margin-top: 38px;
  width: 400px;
  color: #a46448;
    
}

.mainmenu a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
.mainmenu a:hover, #active{
    color: #a46448;
}

.mainsection {
    background: #fff;
}

.maintop {
  margin: 25px 50px;
  border-bottom: 2px dotted #ccc;
}
.maintop h2 {
  color: #333;
  font-size: 40px;
}
.maintop h3 {
  color: #a4a4a4;
  font-size: 28px;
}

.content {
      margin: 0 50px;
    
   
}

.description {

  text-align: center;
}

.description p {
  color: #666;
  font-size: 24px;
  font-weight: normal;
  line-height: 28px;
}

.midcontent {
    height: 260px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ef5e15+0,ed9874+100 */
background: #ef5e15; /* Old browsers */
background: -moz-linear-gradient(left, #ef5e15 0%, #ed9874 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #ef5e15 0%,#ed9874 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #ef5e15 0%,#ed9874 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef5e15', endColorstr='#ed9874',GradientType=1 ); /* IE6-9 */
}

.midleft {
  float: left;
  margin-right: 40px;
  padding: 20px 41px;
  text-align: center;
  width: 352px;
    color: #fff;
}
.midleft h2 {
  border-bottom: 2px dotted #fff;
  font-size: 30px;
  margin-left: 53px;
  padding-bottom: 30px;
  width: 250px;
}
.midleft p {
  font-size: 13px;
  font-weight: bold;
  line-height: 21px;
}
.midimg {
    float: left;
     width: 375px;
}
.midimg img {
  padding-top: 28px;
  width: 375px;
}
.post {
  border-bottom: 2px dotted #a6a6a6;
  border-top: 2px dotted #a6a6a6;
  margin: 18px 50px 20px;
  padding-bottom: 35px;
  padding-top: 35px;
    
}
.allpost{
    margin-left: -68px;
}

.samearticle {
  float: left;
  margin-left: 70px;
  padding: 20px 11px;
  width: 217px;
  color: #fff;
    text-align: center;
    
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ed8a5c+0,ed560b+100 */
background: #ed8a5c; /* Old browsers */
background: -moz-linear-gradient(top, #ed8a5c 0%, #ed560b 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ed8a5c 0%,#ed560b 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ed8a5c 0%,#ed560b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed8a5c', endColorstr='#ed560b',GradientType=0 ); /* IE6-9 */
Color format:
Comments
Link to, save or share the current gradient using its permalink.

}
.samearticle h2 {
  border-bottom: 2px dotted #fff;
  font-size: 25px;
  padding-bottom: 20px;
  text-shadow: 0 1px 2px #333;
}
.samearticle p{
}

.postlink {
  background: rgba(0, 0, 0, 0) url("../img/bg.png") repeat-x scroll 0 0;
  height: 29px;
  margin-bottom: 20px;
  margin-left: 20px;
  padding-top: 5px;
  width: 170px;
}

.postlink a {
  color: #ed5a11;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.postlink a:hover{}

.footsection {
    background: #fff;
}
.footportion {
  margin: 0 50px 10px 50px;
  text-align: center;
  color: #777;
}
.footportion p{
    margin: 0;
}
.footportion a {
  color: #777;
}
.footportion a:hover{
    text-decoration: none;
    color: #ED570D;
}













/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
