*{
    margin: 0;
    padding: 0;
    outline: 0;
}
ul,li{
    list-style: none;
}
imag{
    max-width: 100%;
}
a:hover,a,a:active,a:focus{
    outline: none !important;
    text-decoration: none !important;
    border: none !important;
}

body{
    font-family: 'Open Sans', sans-serif;
    font color: #7b7b7b;
    font: 400 13px / 22px OpenSans;
}
.logo{
    font-family: Pacifico, cursive;
    color: #ffc155;
    
}
.headerArea{
    background: url(../imag/background.png) no-repeat;
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
}
.headerArea:before{
    position: absolute;
    content:"";
    left:0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: url(../imag/Layer-3.png);
    
}
.nav > li > a{
    color:white;
}
.nav > li > a:focus,.nav > li > a:hover {
    background: transparent;
    text-decoration: none;
}
.navbar-right {
  float: right;
  margin: 0;
}
/*end of menu bar*/


.singlewlcome {
  color: #ffffff;
  padding-top: 80px;
}
.singlewlcome h1 {
  color: #ffffff;
  font: 700 48px OpenSans;
  margin: 0;
}
.singlewlcome h4{
    color: #ffffff;
    font: 400 25px OpenSans;
}
.owl-prev {
  border-radius: 50%;
    border: #ffffff;
    color: #ffffff;
    font-size: 30px;
    height: 43px;
    left: 185px;
    line-height: 47px;
    position: absolute;
    top: 258px;
    width: 43px;
}


.offersection {
  background: #fff none repeat scroll 0 0;
  padding: 80px 0;
}
.service {
  padding-bottom: 87px;
}
.service h2,.portfoliosection h2 {
  color: #709dca;
  font-size: 26px;
  font-weight: bold;
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
}
.service p{
    text-align: center;
    font-size: 16px;
}
.sameservice {
  padding-bottom: 50px;
}
.sameservice img {
  height: 25px;
  margin-bottom: -40px;
}
.content {
  margin-left: 50px;
}
.content h4 {
  color: #394b50;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 0;
  text-transform: uppercase;
}
.content p {
  font-size: 14px;
  color: #7b7b7b;
}
.aboutsection {
    background: #ffc155;
    color: #fff;
    
}

.aboutimage {
    
}
.aboutimage img {
  height: 643px;
  width: 660px;
}
.about {
  margin-left: 15px;
  padding: 90px 20px;
}
.about h2 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.about p {
  font-size: 13px;
  line-height: 26px;
  margin-bottom: 20px;
  width: 517px;
}

.readmore {
     padding-top: 50px;
}
.btn-info {
  background-color: #e7ad48;
  border: 1px solid #cb8d21;
  border-radius: 0;
  color: #fff;
  font-size: 14px;
  padding: 10px 35px;
  text-transform: uppercase;
}
.btn-info:hover{
    background-color: #e7ad48;
  border: 0px solid #cb8d21;
  border-radius: 0;
  color: #fff;
  font-size: 14px;
  padding: 10px 35px;
  text-transform: uppercase;
}

.portfoliosection {
  padding-bottom: 75px;
}
.potitle {
  padding-top: 90px;
}
.potitle h2{
    padding-top: 90px 0;
    font-weight: 800;
}
.potitle img {
  margin: 6px 6px 25px;
}
.potitle p {
  font-size: 18px;
}

.button-group .button {
  border-radius: 5px;
  margin: 20px 8px 20px 0;
}

.button.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}
.button:active, .button.is-checked {
  background-color: #709dca;
      border: medium none;
  border-radius: 7px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 16px;
  padding: 0.5em 1em;

  text-transform: uppercase;
}

.button {
  background: #fff none repeat scroll 0 0;
  border: medium none;
  border-radius: 7px;
  color: #062033;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 16px;
  padding: 0.5em 1em;
  text-shadow: 0 1px white;
  text-transform: uppercase;
}

/* ---- isotope ---- */

.grid {

}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */
.element-item {
  
  
  width: 25%;
}

.element-item img {
  border: 5px solid #fff;
  width: 100%;
}