*{
    margin: 0;
    padding: 0;
    outline: 0;
}

body{
    font-family: arial;
    font-size: 14px;
    line-height: 18px;
    color: #333;
    background-color: bisque;
}

.template{
    width: 960px;
    margin: 0 auto;
}

.clear{
    overflow: hidden;
}

.headersection{
    background-color: #1F1F1E;
    height: 80px;
}
.header{}
.headerleft{
    width: 530px;
    color: #fff;
    float: left;
}
.headerleft h2 {
  font-size: 40px;
  line-height: 65px;
    padding-left: 50px;
}
.headerright {
  color: #fff;
  float: right;
  padding-top: 30px;
  width: 430px;
}
.headerright a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
}
.headerright a:hover,#active{
    color: #71B1CA;
}

.mainsection{
    background: #fff;
}
.slogansection {
  padding: 10px;
  border-bottom: 2px dotted #a9a9a9;
  margin: 30px 50px 50px 50px;
  padding-bottom: 30px;
}
.slogansection h2 {
  color: #000;
  font-size: 45px;
  line-height: 58px;
}
.slogansection h3 {
  color: #a9a9a9;
  font-size: 36px;
  line-height: 35px;
}

.Description {
  border-bottom: 2px dotted #a9a9a9;
  color: #666666;
  font-size: 25px;
  line-height: 27px;
  margin: 28px 50px 50px 50px;
  padding-bottom: 30px;
    
}
.Description p{}
.contentsection {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.service {
  background: #0f8dcb none repeat scroll 0 0;
  box-shadow: 8px 5px #bfbfbf;
  float: left;
  margin-left: 50px;
  padding: 20px;
  width: 212px;
}
.service h2 {
  border-bottom: 1px dotted #fff;
  color: #fff;
  margin-bottom: 15px;
  padding-bottom: 15px;
  font-size: 28px;
  text-align: center;
}
.service p {
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.readmore {
  background: #005b93 none repeat scroll 0 0;
  text-align: center;
    padding: 10px;
    margin-top: 20px;
}
.readmore a {
  color: #ddd;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
.readmore a:hover{}

.mainbottom {
  border-bottom: 2px dotted #ccc;
  border-top: 2px dotted #ccc;
  margin: 30px 50px 20px;
  padding-bottom: 30px;
  padding-top: 30px;
}
.clientsection {
  border-right: 2px dotted #ccc;
  float: left;
  margin-right: 50px;
  padding-right: 30px;
  width: 375px;
}
.clientsection h2 {
  color: #666;
  font-size: 25px;
  line-height: 30px;
}

.testimonial {
  margin-top: 20px;
}
.clientimage{
    float: left;
    margin-right: 20px;
    width: 70px;
}
.clientimage img {
  height: 70px;
  width: 70px;
}
.clientname {
  color: #000;
  font-weight: bold;
  margin-top: 8px;
}

.clientdes {
  float: left;
  width: 285px;
}
.clientdes p{
    color: #666;
}
.clientdes a {
  color: #0f8dcb;
  text-decoration: none;
}

.projectsection{
    width: 400px;
    float: right;
}
.projectsection h2{
      color: #666;
  font-size: 25px;
  line-height: 30px;
}
.projectsection h3 {
  color: #999;
  margin-bottom: 8px;
  margin-top: 5px;
}
.projectsection img {
  border: 1px solid #ddd;
  border-radius: 10px;
  height: 175px;
  width: 398px;
}
.projectsection p {
  color: #666;
  margin-top: 5px;
}
.projectsection a {
  color: #0f8dcb;
  font-size: 16px;
  text-decoration: none;
}

.footersection{
    background: #fff;
}
.footersection p {
  color: #999;
  margin-bottom: 20px;
  margin-left: 50px;
}