@import url(https://fonts.googleapis.com/css?family=Open+Sans);

*{
    padding: 0;
    margin: 0;
    outline: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 18px;
}
img{
    width: 100%;
}

.topsection{
    background: #252323;
    padding: 10px;
}
.logo{
    float: left;
}
.logo img{}
.social{
    float: right;
}
.social i{
    color: #c0c0c0;
    font-size: 30px;
    margin-left: 20px;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #a4a4a4;
}
.top-bar, .top-bar ul {
  background-color: #fff;
}
.top-bar input {
  background: #fff url("../img/searchicon.png") no-repeat scroll 170px center;
  margin-right: 1rem;
  margin-top: 15px;
  max-width: 200px;
}
.menu > li > a {
  border-bottom: 2px solid transparent;
  color: #8b8b8b;
  display: block;
  font-size: 15px;
  font-weight: bold;
  line-height: 1;
  margin-right: 20px;
  padding: 1.7rem 1rem;
  text-transform: uppercase;
}
.menu > li > a:hover{
    color: #00bac6;
    border-bottom: 2px solid #00bac6;
}

.slidersection{
    background: url(../img/banner.jpg) no-repeat;
    padding: 184px 0;
    color: #fff;
}
.item {
  margin: 0 auto;
  max-width: 800px;
}
.item h2{
  
}
.item p{
    font-size: 18px;
    line-height: 26px;
}
.servicesection{
    color: #9a9a9a;
}
.makebold{
    font-weight: 600;
    color: #646464;
}
.service{}
.service h2{}
.service p{
    font-size: 20px;
    margin: 0;
    margin-bottom: 50px;
}
.sameservice{}
.sameservice-2{
    margin-top: 30px;
    background: url(../img/portfoliobg.png) no-repeat bottom center;
    padding-bottom: 50px;
    font-size: 18px;
}
.sameservice-2 i{
    color: #00bac6;
    font-size: 90px;
}
.sameservice-2 p{
font-size: 18px;    
}
.sameservice i {
  color: #cacaca;
  font-size: 90px;
}
.sameservice h3{}
.sameservice p{
    font-size: 18px;
}
.productsection{
    background: #EEE;
    padding: 40px;
    color: #818181;
}
.sameproduct {
  border: 1px solid #a6a6a6;
  margin-bottom: 30px;
}
.sameproduct img{}
.prostyle {
  padding: 15px 25px;
}
.prostyle h4 {
  color: #717070;
  font-size: 22px;
  font-weight: bold;
}
.prostyle p {
  font-size: 16px;
  margin: 0;
}

.Brandsection{
    padding: 60px 0;
    background: #fff;
}
.samebrand {
  margin-right: 90px;
}
.samebrand img{}
.footertop{
    background: url(../img/footertopbg.png) repeat;
    padding: 30px 0;
}
.samefooter{
    margin-right: 45px;
}
.samefooter p{
    color: #c0c0c0;
}
.samefooter h3 {
  color: #fff;
  font-size: 25px;
}
.post {
  border-bottom: 1px solid #6c6c6c;
  margin-bottom: 25px;
  padding-bottom: 10px;
}
.post p{
    
}
.postdate {
  background: rgba(0, 0, 0, 0) url("../img/clock.png") no-repeat scroll 0 5px;
  color: #999 !important;
  padding-left: 25px;
}
.footerstyle {
  color: #fff;
  font-size: 21px;
  line-height: 25px;
}
.address {
  background: rgba(0, 0, 0, 0) url("../img/address.png") no-repeat scroll 0 1px;
  padding-left: 40px;
}
.email{
    background: url(../img/email.png) no-repeat scroll 0 4px;
    padding-left: 40px;
}
.phone{
    background: url(../img/phone.png) no-repeat scroll 0 4px;
    padding-left: 40px;
}
.footerbottom{
    background: url(../img/footerbg.png) repeat;
    color: #c0c0c0;
    padding: 30px 0;
}
.footerleft{}
.footerleft p {
  margin: 0;
}


