*{
    margin: 0;
    padding: 0;
}

body{
    
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 28px;
}
html,body{
    height: 100%;
}
.top_area, .work_education_area,.contactsection {
background: #837583; /* Old browsers */
background: -moz-linear-gradient(45deg, #837583 0%, #837583 0%, #317386 53%, #837583 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #837583 0%,#837583 0%,#317386 53%,#837583 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #837583 0%,#837583 0%,#317386 53%,#837583 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#837583', endColorstr='#837583',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */ 
}
.top_area{
     height: 100%;
}

.navigation_area {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 30px 0px;
}

.welcome_table {
    display: table;
    width: 100%;
    height: 100%;
}

.welcome_cell {
    display: table-cell;
    vertical-align: middle;
}

.welcome_text h1 {
    font-family: 'Raleway', sans-serif;
    color: white;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 5px;
    display: inline-block;
    padding: 10px 0px;
    font-size: 65px;
}
.welcome_text p{
    color: white;
    font-size: 23px;
}

.welcome_text {
    text-align: center;
}

.welcome_text h1:before,.welcome_text h1:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #9CB4BE;
    content: "";
}
.welcome_text h1:before{
    top: 0px;
}
.welcome_text h1:after{
    bottom: 0;
}

.menu_icon {
    text-align: right;
    margin-top: 3px;
}
.menu_icon a {
    color: white;
    border: 1px solid #fff;
    display: inline-table;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 22px;
}
.menu_icon a i{
    display: table-cell;
    vertical-align: middle;
    
}

.about_me_area {
    padding-top: 60px;
    
}

body {
    
}

.about_me_details  {
    margin-top: 30px;
}
.about_me_details h4 {
    font-weight: 700;
    margin-bottom: 25px;
}

.about_me_details a.hire_me  {
    display: inline-block;
    background-color: #FF2B4A;
    padding: 10px 30px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin-top: 30px;
}

.hire_me {
    
}

.working_process {
    background-color: #f6f6f6;
    padding: 30px 0px;
}

.section_title {
    text-align: center;
    margin-bottom: 35px;
}
.section_title h1 {
    font-size: 40px;
    font-weight: 700;
}

.section_title p {
    font-weight: 500;
    opacity: 0.7;
}



.process {
    padding: 50px;
    box-sizing: border-box;
    text-align: center;
    color: white;
}
.lightblue{
  background-color:  #10c6fc;
}

.purpel {
    background-color: #835aeb;
}

.deepblue {
    background-color: #002453;
}

.lightred {
    background-color: #ff2b4a;
}

.work_education_area {
    padding:100px 0px;
}

.work_edu {
background: #5e5973; /* Old browsers */
background: -moz-linear-gradient(45deg, #5e5973 0%, #425974 65%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #5e5973 0%,#425974 65%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #5e5973 0%,#425974 65%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e5973', endColorstr='#425974',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    padding: 30px;
    color: white;
}

}
.work_edu h2{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 30px;
}

.s_work  h4{
    font-weight: 700;
    opacity: .90;
}
.s_work  h5{
    text-transform: uppercase;
    font-weight: 500;
    opacity: .70;
    font-size: 16px;
}
.s_work p{
    opacity: .50;
}


.s_work {
   margin-bottom: 30px;
    border-bottom: 1px solid #7A8498;
    padding-bottom: 20px;
}
.work_edu div:last-child.s_work{
    
    margin-bottom: 0px;
    border-bottom: 0px solid #7A8498;
    padding-bottom: 0px;
}


.portfolio_area {
    padding: 30px 0px;
}

.single_portfolio {
    margin-bottom: 30px;
    position: relative;
}
.single_portfolio img{
    width: 100%;
}

.img_hover {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
   background-color: rgba(131, 90, 35, 0.7);
    text-align: center;
    transform: scale(0);
    transition: all 0.2s ease 0s;
}
.img_hover_table{
    display: table;
    width: 100%;
    height: 100%;
}
.hover_details {
    display: table-cell;
    vertical-align: middle;
}
.hover_details a {
  background: #fff none repeat scroll 0 0;
  border-radius: 5px;
  display: inline-table;
  height: 50px;
  margin-top: 20px;
  text-align: center;
  width: 50px;
    text-decoration: none;
}
.hover_details a i{
    display: table-cell;
    vertical-align: middle;
    color: chartreuse;
}
.single_portfolio:hover .img_hover {
    transform: scale(1);
}
.testimonialsection{
    background: #64cbc0;
    padding: 90px 0px;
}
.testi_slider {
  padding-top: 75px;
  position: relative;
}
.testi_slider:before{
    content: "";
    background: url(img/comma.png) no-repeat scroll 0 0; 
    position: absolute;
    left: 0px;
    top: 0px;
    width: 58px;
    height: 47px;
}
.single_slide{}
.single_slide p{
    color: #142926;
}
.author_details{}
.author_details img{}
.author_details h3{
    font-size: 18px;
    font-weight: 700;
}
.author_details h3 span{
    display: block;
    font-weight: 400;
    font-size: 14px;
    margin-top: 5px;
}
.contactsection{
    padding: 100px 0px;
}
.messageform, .addresssection{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45617c+0,69647c+56,69647c+100 */
background: #45617c; /* Old browsers */
background: -moz-linear-gradient(45deg, #45617c 0%, #69647c 56%, #69647c 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #45617c 0%,#69647c 56%,#69647c 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #45617c 0%,#69647c 56%,#69647c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45617c', endColorstr='#69647c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    padding: 30px;
}
.messageform {
  padding-bottom: 100px;
}
.messageform h2 {
  color: #fff;
  padding-bottom: 50px !important;
}
.form-control {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  
  font-size: 14px;
  padding: 6px 12px;
  width: 100%;
border-radius: 0;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  background: #ff2b4a none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  cursor: pointer;
  float: right;
  font-weight: bold;
  padding-bottom: 2px;
  padding-left: 50px;
  padding-right: 50px;
}
.form-group {
  margin-bottom: 15px;
  padding-bottom: 25px;
}
.addresssection {
  margin: 0 0 15px;
  padding-bottom: 69px;
}
.contactaddress {
  color: #fff;
  padding-left: 20px;
}
.contactaddress h2, .messageform h2 {
  font-size: 26px;
  font-weight: bold;
  padding-bottom: 20px;
  text-transform: uppercase;
}
.contactaddress p {
  font-size: 16px;
  margin-bottom: 0;
  color: #c8d0d8;
}



.footersection{
    background: #222222;
    
    
}
.footer {
  padding: 45px 0;
}
.footer p {
  color: #898989;
  font-size: 12px;
  margin-bottom: 0;
}
.social {
  margin-left: 30px;
  padding: 5px 0;
}
.social a{
    border-right: 1px solid #ffffff;
    color: #aaaaaa;
  
  margin-right: 7px;
  padding-right: 22px;
  text-decoration: none;
}
.social a i {
  font-size: 18px;
  
}
.social a:last-child{
    border-right: 0px solid #ffffff;
}

.social i:hover {
    color: red;
    
      
}


